$white: #ffffff;
$black: #000000;
$gray: #ecf0f1;


$peer8: rgb(0, 183, 234);
$peer8-shade: rgb(0, 158, 195);
$peer8-light: #9dcdcd;
$peer8-dark: #005646;
$peer8-top: #ffffff;
$peer8-bottom: #000000;

$peer4: #ff3e00;
$peer4-light: #ffded4;
$peer4-dark: #a62800;
$peer4-top: #ffffff;
$peer4-bottom: #000000;

$peer4-alt: #133cac;
$peer4-alt-light: #c3cde6;
$peer4-alt-dark: #0a2570;

$button: #3498db;
